* {
color: green;
}

body {
background-color: black;
}
p {
font-family: Georgia;
font-size: 13pt;
}

*p {
	font-family: Georgia;
}

h1 {
font-family: Forte;
font-size: 25pt;
}
li {
font-family: Times New Roman;
font-size: 25px;
}
.first {
font-family: Forte;
text-align: center;
font-size: 40px;
}
.assassin {
text-align: center;
}
.mainbody  body{
color: white;
}
.movielist {
font-family:  Cooper Black;
text-align: center;
}
.anchor {
font-family: Algerian;
}
button {
font-size: 27px;
}
